body {
    background-color: black;
}

p {
    color: white;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 173, 253, 0.219), rgba(0, 0, 0, .6)), url(assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB;
}

.banner .banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
}

.banner .logo img {
    margin: auto;
    width: 40%;
    height: 50%;
    object-fit: contain;
}

.banner h1 {
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
}

.banner p {
    font-size: 22px;
    margin: 16px 0 24px;
}

.banner button {
    color: #31A8DD;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    padding: 16px;
    border-image: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 10;
    border-radius: 30px;
}

#course-content {
    width: 800;
    margin: 100px auto;
    text-align: center;
}


h2 {
    font-weight: 700;
    font-size: 32px;
    color: #33A8DB;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 24px;
    text-align: center;
}

#course-content p {
    font-size: 22px;
    margin: 20px 450px 30px;
}

.module {
    width: 530px;
    border: 1px solid #33A8DB;
    padding: 16px;
    border-radius: 57px;
    background-color: #252525;
    margin: 24px auto 24px;
    color: white;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

.module span {
    font-size: 20px;
    color: #33A8DB;
}

#transform-world {
    height: 150px;
    background-image: url(assets/images/woman-code.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 200px;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
}

section {
    margin: 100px auto;
}

#transform-world p {
    font-weight: 500;
    font-size: 40px;
    text-align: left;
    text-transform: lowercase;
    max-width: 200px;
    text-shadow: 3px 2px #33A8DB;
}

#professional-challenges {
    width: 800px;
    text-align: center;
}

#professional-challenges img {
    margin: 32px 0;
}

#professional-challenges p {
    font-size: 20px;
    margin: 20px 0 30px;
}

footer {
    text-align: center;
    border-top: 1px solid #33A8DB80;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    padding: 40px 0;
}

.dio-logo {
    width: 300px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: #33A8DB;
}